#contact{
    display: flex;    
    justify-content: center;
    align-items: center;
    
    
}

.contact-wrapper{
    display: flex;
    align-items: center;    
    gap: 4rem;
    
    
    
}
.contact-wrapper .contact-info{
    width: 400px;
}


.contact-wrapper .contact-info .contact-list{
    margin-bottom: 2rem;
    
    
}

.contact-wrapper .contact-info .contact-list h3{
    font-size: 1.4rem;
    
   
}

.contact-wrapper .contact-info .contact-list p, a{
    font-size: 1.4rem;
   
    
   
}

.form-container{    
    width: 600px;
    margin-left: auto;
    
   
    
    
}

.input-group{
       
    position: relative;
}

.input-group label{
    font-size: 1.6rem;
}



.input-group input{
    width: 100%;
    padding: 1.5rem 1rem;
    margin-bottom: 25px;
    
    border: none;
    outline: none;
    
    
}

.form-container button{
    font-size: 1.8rem;
    color: #FFF;
    padding: 1rem 2.5rem;
    margin-right: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid #FFF;
    cursor: pointer;
}

