.heading{
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    color: #333;
    
    
}

.heading span{
    font-size: 1.5rem;
    display: block;
    
    
}



.heading h2{
    font-size: 3rem;
    display: inline;
    
    text-transform: uppercase;
    margin-top: 1.5rem;
    border-bottom: 5px solid #000;
    
}

