.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container figure{
    width: 200px;
    height: 500px;
    flex: 1 1 30rem;
}

.about-container figure img{
    width: 100%;
    height: 100%;
}

.about-container .about-content{
    flex: 1 1 20rem;
}