.slide{
    width: 260px;
    
}

figure{
    overflow: hidden;
}

.slide .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;

}

.slide .content p{
    font-size: 1.2rem;
    color: aliceblue;
    margin-bottom: 2rem;
}

.slide img{
    width: 100%;
    
}

.slide img:hover{
    transform: scale(1.1);
}

.slide a{
    font-size: 1.2rem;
    display: block;
    text-align: center;    
    padding: 1rem 2rem;
    color: #FFF;    
    background-color: var(--hover-color);
}